<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body style="text-align:center">
    {% extends 'template.html' %}
    {% block content %}

    <h1 style="text-align:center">About Flask</h1>
    <p style="text-align:center"> Flask is a micro web framework written in Python.</p>
    <p style="text-align:center"> Applications that use the Flask framework include Pinterest,
      LinkedIn, and the community web page for Flask itself.</p>

    {% endblock %}
</body>
</html>