<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<bodystyle="text-align:center">
    {% extends 'template.html' %}
    {% block content %}
        <div class="content" style="text-align:center">
            <h3 style="text-align:center">Input the date you start dating!!</h3>
            <form action="" method="POST" style="text-align:center">
                <div class="form-input-date" style="text-align:center">
                    <input style="text-align:center" placeholder="dd-mm-yyyy" type="text" class="form-control" name="date" value="{{ request.form.inpdate }}">
                </div>
                <input style="text-align:center" type="submit" class="btn-submit" value="Submit">
            </form>
        </div>
    {% endblock %}
</body>
</html>